@model WebClientes.Models.M_Clientes

<h3>Desea eliminar el cliente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

    </dl>

    @using (Html.BeginForm("Acciones", "Clientes", FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmClientes" })) { 
    @Html.AntiForgeryToken()

    @Html.HiddenFor(w => w.IdCliente, new { @id = "hdnId" })
    @Html.HiddenFor(w => w.Nombre, new { @id = "hdnNombre" })
    @Html.HiddenFor(w => w.Apellidos, new { @id = "hdnApellidos" })
    @Html.HiddenFor(w => w.Telefono, new { @id = "hdnTelefono" })
    @Html.HiddenFor(w => w.CorreoElectronico, new { @id = "hdnCorreoElectronico" })



    <div class="form-actions no-color">
        <button type="submit" id="btnEliminar" name="submitButton" value="Eliminar"
                class="btn btn-primary" title="Eliminar" data-toggle="tooltip"
                data-container="body" data-placement="right">
            Eliminar
        </button>
        @Html.ActionLink("Regresar", "ListaClientes")
    </div>
    }
</div>
