@model WebClientes.Models.M_Reservaciones

<div>
    <h4>Reservaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroReservacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroReservacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaReservacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaReservacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "ModificaReservacion", new { id = Model.NumeroReservacion }) |
    @Html.ActionLink("Regresar", "ListaReservaciones")
</p>
